<!DOCTYPE html>
<html>
    <head>
        <title>Minimundo sites</title>
    </head>

    <body>

    <h1>Minimundo sites</h1>

    Hello, {{ user.username }}!

    <h2>Create a page:</h2>
    <form action="/homePage" method="post">
      {% csrf_token %}
      {{ createPageForm.as_p }}
      <input type="submit" value="Submit">
    </form>

		<h2>Your pages:</h2>
    {% include "./pages.html" %}
        
    <form action='/logout/' method="POST">
    {% csrf_token %}
          <input type="submit" value="Logout"/>
      </form>
    </body>
</html>