<!DOCTYPE html>
<html>
    <head>
        <title>Minimundo sites</title>
    </head>

    <body>
        <h1>Minimundo sites</h1>

        {% if user.is_authenticated %}Hello, {{ user.username }}.{% endif %}

		<h2>Search for pages:</h2>
        <form action="/search" method="POST">
            {% csrf_token %}
            <input type="text" name="key"/>
            <input type="submit"/>
        </form>

        {% include "./pages.html" %}
		
        <h2>My pages!</h2>

        <a href='/homePage'><button>Go to personal home page</button></a>
        
    </body>
</html>
